src/com.deuxhuithuit.SpriteCreator.Console.Setup/Debug/
src/com.deuxhuithuit.SpriteCreator.Console.Setup/Release/
src/com.deuxhuithuit.SpriteCreator.Console/bin/
src/com.deuxhuithuit.SpriteCreator.Console/obj/
src/com.deuxhuithuit.SpriteCreator.Core/bin/
src/com.deuxhuithuit.SpriteCreator.Core/obj/